@font-face {
	font-family: 'fontname';
	src: url('fontname.ttf');
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
}
#box {
	width: 520px;
	height: 400px;
	//border: 2px solid #000;
	margin-left:-320px;
	margin-bottom: 40px;
	margin-top: 20px;
	overflow: hidden;
	color: #fff
}
#info{
	margin-top:-360px;
	margin-left:250px;
}
#ask{
	margin-left:-300px;
	margin-top:-60px;
}
#subback{
	margin-top:-43px;
	margin-left:-300px;
}
ul {
	width: 1100px;
}

li {
	width: 100px;
	height: 300px;
	float: left;
	color: #fff
}

h3,
h4 {
	font-family: 'fontname';
	font-weight: 700;
	color: #fff
}
h5{
	color: #fff
}