* {
	margin: 0;
	padding: 0;
}

body {
	background: url(../img/圣诞背景.jpg) no-repeat;
	background-size: 100%;
	color: red;
	font-family: 'Petit Formal Script', cursive;
	overflow: hidden;
}

a {
	text-decoration: none;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:active {
	color: green;
}

a:hover {
	color: pink;
}


/*.a {
	margin: auto;
	background: url(../img/圣诞背景.jpg) no-repeat;
	width: 100%;
	height: 100%;
	background-size: 100%;
}*/

.title {
	position: absolute;
	text-align: center;
	top: 80%;
	left: 90%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
	z-index: 0;
	font-size: 1.6em;
}

.snow {
	position: absolute;
	background-color: white;
	border-radius: 100%;
}